<% // 🍙 오늘 뭐 먹지??? 🍕 페이지 %>

<!-- 네이버 지도 API -->
<!-- <script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=87ni0cgqze&submodules=geocoder"></script> -->
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=x014znucr0&submodules=geocoder"></script>

<!-- CSS 추가 -->
<%- css = '<link rel="stylesheet" href="/css/yummymap.css">' %>

<!-- ✅ 맛집 리스트 -->
<!-- <div id="store-list-container">
    <div id="store-list-toggle" onclick="toggleStoreList()">📜</div>
    <div id="store-list">
        <h3>📌 맛집 리스트</h3>
        <ul id="store-items"></ul>
    </div>
</div> -->

<div id="recommendation"></div>

<!-- ✅ 네이버 지도 -->
<div id="map">
    <div class="map-buttons">
        <button class="random-button" onclick="recommendRandomStore()">🍀 랜덤 추천</button>
        <button class="reset-button" onclick="resetMap()">🔄 맵 초기화</button>
        <% if (typeof user !== 'undefined' && user) { %>
            <button class="register-button" onclick="location.href='/registerStore'">✨ 장소 등록 </button>

            <% if (user.detail && user.detail.length > 0) { %>
                <!-- ✅ 주소 선택 박스 -->
                <div class="address-select-container">
                    <label for="addressSelect">📍 주소 선택:</label>
                    <select id="addressSelect" onchange="selectAddress(this)">
                        <% user.detail.forEach(function(detail) { %>
                            <option 
                                value="<%= detail.addr %>" 
                                data-lngx="<%= detail.lngx %>" 
                                data-laty="<%= detail.laty %>">
                                <%= detail.addr_type === 'H' ? '집' : '회사' %> - <%= detail.addr %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            <% } %>


            <% if (user.is_admin) { %>
                <label class="toggle-draggable">
                    <input id="toggleDraggable" type="checkbox" onchange="toggleMarkerDraggable()"> 🔧 마커 이동 설정
                </label>
            <% } %>
         <% } %>
    </div>
</div>

<!-- JS 추가 -->
<%- script = '<script src="../public/js/yummymap.js"></script>' %>
<%- script = '<script src="../public/js/MarkerClustering.js"></script>' %>
<%- script = '<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>' %>



